.phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone h3 {
  margin-left: 5%;
}

.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email h3 {
  margin-left: 5%;
}
