.contactpage {
  margin-top: 0%;
  width: 50%;
  margin-left: 25%;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone h3 {
  margin-left: 5%;
}

.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email h3 {
  margin-left: 5%;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop h3 {
  margin-left: 5%;
}
.disclaimer {
  /*   position: absolute; */
  bottom: 5%;
  left: 5%;
  right: 5%;
  font-size: 0.6rem;
  font-weight: 200;
}
